/build

# jetbrain, vs
/.vs
/.idea
/.PVS-Studio
/cmake-build-*

#bin, build
/build
/bin/Debug
/bin/Release
/bin/config.xml
/bin/debug.log
/bin/imgui.ini
/bin/*.exe
/bin/*.dll
/bin/*.bsc
/bin/*.pdb
/bin/*.lum
/bin/plugins
/bin/packages
/bin/shaders/*.frag
/bin/shaders/*.vert
/bin/shaders/*.comp
