/build
/bin/Debug/*.pdb
/bin/Debug/config.xml
/bin/Debug/debug.log
/bin/Debug/imgui.ini
/bin/Debug/vma_replay.log
/.PVS-Studio
/cmake-build-debug
/cmake-build-release
/bin/meshs/alien_rock_3.gltf
/bin/meshs/alien_rock_3.bin
/bin/meshs/lion.gltf
/bin/meshs/lion.bin
/bin/Debug
/bin/Release
/bin/config.xml
/bin/debug.log
/bin/imgui.ini
/bin/Lumo_Windows_x64.exe
/bin/meshs/suzanne.bin
/bin/meshs/suzanne.gltf
/bin/meshs/suzanne_moved.bin
/bin/meshs/suzanne_moved.gltf
/bin/meshs/engel
/bin/meshs/grabfigur
/bin/meshs/lion-crushing-a-serpent
/bin/meshs/lowe
/bin/meshs/strange_attractor__3-scroll_unified_chaotic_1
/bin/meshs/textures
/bin/meshs/engel.ply
/bin/meshs/engel.zip
/bin/meshs/grabfigur.zip
/bin/meshs/Julia_Revolute_3_1.ply
/bin/meshs/julia_vessel.bin
/bin/meshs/julia_vessel.gltf
/bin/meshs/julia-revolute-variation-1.zip
/bin/meshs/license.txt
/bin/meshs/lion-crushing-a-serpent.zip
/bin/meshs/lowe.zip
/bin/meshs/scene.bin
/bin/meshs/scene.gltf
/bin/meshs/strange_attractor__3-scroll_unified_chaotic_1.zip
/bin/Lumo_Windows_Debug_x64.exe
/bin/assimp_Windows_Debug_x64.dll
/bin/plugins/MeshSim_Windows_Debug_x64.dll
/bin/plugins/MorphoGenesis_Windows_Debug_x64.dll
/bin/plugins/SdfMesher_Windows_Debug_x64.dll
/Plugins/MeshSim
/Plugins/MorphoGenesis
/Plugins/SdfMesher
/.idea
/Plugins/meshsss
/Plugins/Smoke
/Plugins/VR
/.vs
