<config>
	<ImGui_Styles>
		<ImGuiCol_Text value="0.85;0.85;0.85;1"/>
		<ImGuiCol_TextDisabled value="0.65;0.65;0.65;1"/>
		<ImGuiCol_WindowBg value="0.15;0.16;0.17;1"/>
		<ImGuiCol_ChildBg value="0.15;0.16;0.17;0"/>
		<ImGuiCol_PopupBg value="0.15;0.16;0.17;1"/>
		<ImGuiCol_Border value="0.26;0.28;0.29;1"/>
		<ImGuiCol_BorderShadow value="0;0;0;0"/>
		<ImGuiCol_FrameBg value="0.21;0.29;0.36;1"/>
		<ImGuiCol_FrameBgHovered value="0.26;0.59;0.98;0.71"/>
		<ImGuiCol_FrameBgActive value="0.26;0.59;0.98;0.93"/>
		<ImGuiCol_TitleBg value="0.18;0.2;0.21;1"/>
		<ImGuiCol_TitleBgActive value="0.23;0.25;0.26;1"/>
		<ImGuiCol_TitleBgCollapsed value="0.3;0.33;0.35;1"/>
		<ImGuiCol_MenuBarBg value="0;0;0;0"/>
		<ImGuiCol_ScrollbarBg value="0.21;0.29;0.36;0.89"/>
		<ImGuiCol_ScrollbarGrab value="0.13;0.52;0.94;0.45"/>
		<ImGuiCol_ScrollbarGrabHovered value="0.13;0.71;1;0.89"/>
		<ImGuiCol_ScrollbarGrabActive value="0.24;0.78;0.78;0.31"/>
		<ImGuiCol_CheckMark value="1;0.6;0;1"/>
		<ImGuiCol_SliderGrab value="0.24;0.52;0.88;1"/>
		<ImGuiCol_SliderGrabActive value="0.26;0.59;0.98;1"/>
		<ImGuiCol_Button value="1;0.6;0;0.8"/>
		<ImGuiCol_ButtonHovered value="1;0.48;0;0.8"/>
		<ImGuiCol_ButtonActive value="1;0.4;0;0.8"/>
		<ImGuiCol_Header value="0.13;0.52;0.94;0.66"/>
		<ImGuiCol_HeaderHovered value="0.13;0.52;0.94;1"/>
		<ImGuiCol_HeaderActive value="0.13;0.52;0.94;0.59"/>
		<ImGuiCol_Separator value="0.18;0.35;0.58;0.59"/>
		<ImGuiCol_SeparatorHovered value="0.1;0.4;0.75;0.78"/>
		<ImGuiCol_SeparatorActive value="0.1;0.4;0.75;1"/>
		<ImGuiCol_ResizeGrip value="0.26;0.59;0.98;0.2"/>
		<ImGuiCol_ResizeGripHovered value="0.26;0.59;0.98;0.67"/>
		<ImGuiCol_ResizeGripActive value="0.26;0.59;0.98;0.95"/>
		<ImGuiCol_Tab value="0.2;0.41;0.68;0"/>
		<ImGuiCol_TabHovered value="0.26;0.59;0.98;0.8"/>
		<ImGuiCol_TabActive value="0.2;0.41;0.68;1"/>
		<ImGuiCol_TabUnfocused value="0.2;0.41;0.68;0"/>
		<ImGuiCol_TabUnfocusedActive value="0.2;0.41;0.68;1"/>
		<ImGuiCol_DockingPreview value="0.13;0.52;0.94;1"/>
		<ImGuiCol_DockingEmptyBg value="0.2;0.2;0.2;0"/>
		<ImGuiCol_PlotLines value="0.61;0.61;0.61;1"/>
		<ImGuiCol_PlotLinesHovered value="1;0.43;0.35;1"/>
		<ImGuiCol_PlotHistogram value="0.13;0.52;0.94;0.95"/>
		<ImGuiCol_PlotHistogramHovered value="1;0.6;0;1"/>
		<ImGuiCol_TableHeaderBg value="0.19;0.19;0.2;1"/>
		<ImGuiCol_TableBorderStrong value="0.31;0.31;0.35;1"/>
		<ImGuiCol_TableBorderLight value="0.23;0.23;0.25;1"/>
		<ImGuiCol_TableRowBg value="0.15;0.16;0.17;1"/>
		<ImGuiCol_TableRowBgAlt value="1;1;1;0.06"/>
		<ImGuiCol_TextSelectedBg value="0.26;0.59;0.98;0.35"/>
		<ImGuiCol_DragDropTarget value="1;1;0;0.9"/>
		<ImGuiCol_NavHighlight value="0.26;0.59;0.98;1"/>
		<ImGuiCol_NavWindowingHighlight value="1;1;1;0.7"/>
		<ImGuiCol_NavWindowingDimBg value="0.8;0.8;0.8;0.2"/>
		<ImGuiCol_ModalWindowDimBg value="0.8;0.8;0.8;0.35"/>
		<GoodColor value="0;0.77;0;1"/>
		<BadColor value="0.92;0.28;0.1;1"/>
		<GlyphButtonColor value="0.09;0.31;0.47;1"/>
		<GlyphButtonColorActive value="1;0.6;0;0.8"/>
		<WindowPadding value="4;4"/>
		<FramePadding value="4;4"/>
		<ItemSpacing value="4;4"/>
		<ItemInnerSpacing value="4;4"/>
		<IndentSpacing value="4"/>
		<ScrollbarSize value="10"/>
		<GrabMinSize value="8"/>
		<WindowRounding value="2"/>
		<ChildRounding value="2"/>
		<FrameRounding value="2"/>
		<PopupRounding value="2"/>
		<ScrollbarRounding value="2"/>
		<GrabRounding value="2"/>
		<TabRounding value="2"/>
		<WindowBorderSize value="0"/>
		<ChildBorderSize value="0"/>
		<PopupBorderSize value="1"/>
		<FrameBorderSize value="0"/>
		<TabBorderSize value="0"/>
	</ImGui_Styles>
	<FileTypes>
		<filetype value=".cpp" color="0.5;0.1;0.7;1"/>
		<filetype value=".h" color="0.5;0.1;0.5;1"/>
		<filetype value=".ifs" color="0.1;0.5;0.1;1"/>
		<filetype value=".otf" color="0.1;0.1;0.5;1"/>
		<filetype value=".ttf" color="0.1;0.9;0.5;1"/>
	</FileTypes>
	<layout>
		<panes opened="31" active="21"/>
	</layout>
	<bookmarks></bookmarks>
	<showaboutdialog>false</showaboutdialog>
	<showimgui>false</showimgui>
	<showmetric>false</showmetric>
	<project>C:\Gamedev\gitlab\SdfMesher\src\Res\fonts\SDFM_TOOLBAR.ifs</project>
</config>
